<<<<<<< HEAD
@media(max-width: 768px){

    .main-menu{
        display: flex;
        flex-direction: column;  
    }

   
    .perfume-begin{
        
        .sub-menu{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.2rem;
        }
    }

    .product-section{

        .perfumes{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1.2rem;
        }
    }

    .signup-section {
        .container {
            max-width: 600px;
        }
        
        .input {
            flex-direction: column;
        }
    
    }


    
    .urBrand{
    
        display: grid;
        grid-template-rows: 1fr;
        &-1{
            font-size: 1rem;
        }
    }


.products-ondisplay{
    display: none;
    }




.bulkOrderForm{
        .ordering-form{
            background: $bg-color2;
            color: $bg-color1;
            border-radius: 7px;

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem; 
                justify-content: center; 
                align-items: center; 
                font-size: 16px;    
                margin-top: 15px;  
            }

        }

    }

    //Fragrance Page
    .fragrance-a{

        .men-fragrance{
            display: flex;
            flex-direction: column;
        }
    }



    .contact-page{
        .contact{
            width: 100%;
            max-width: 500px;
        
            
        .contact-page-a{
            .text-fields{
            width: 100%;
            max-width: 400px;
    
            display: grid;
            grid-template-areas: 
            'name' 
            'email'
            'phone' 
            'subject'
            'message';
            // gap: 1.5rem;
    
            // GRID AREAS
           .name-input{
            grid-area: name;
           }
           .email-input {
            grid-area: email;
           }
           .phone-input{
            grid-area: phone;
           }
           .subject-input {
            grid-area: subject;
           }
           .message-input{
            grid-area: message;
            height: 100px;
           }
                }
        }
            
        }

    }


//Display Perfume PAge

.display-perfume-body {
    display: flex;
    padding: 20px;

    flex-direction: column; /* Stack content on mobile */
    justify-content: center;
    text-align: center;
    align-items: center;
    .display-perfume-body-b{

        .display-perfume-body-b-1{
            justify-content: center;
            text-align: center;
            align-items: center;
    
        }
    
        .cost{
            margin: auto;
        }
    }
  }







    

}
=======
/* CSS for medium screens and down */
// Main-menu & Sub-menu
@media (max-width: 768px) {
  .main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .sub-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}

// /* Media Query for Search-box*/
@media (max-width: 425px) {
  .search-input {
    max-width: auto;
  }

  /* Adjust autocomplete list */
  .autocomplete-list {
    text-align: left;
    max-width: auto; /* Adjust as needed */
    margin: 0 auto;
    width: 100%; /* Full width of parent */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .autocomplete-list li {
    padding: 10px;
  }
}

// /* Media Query for Product catalogue*/
@media (max-width: 786px) {
  .perfumes {
    display: flex;
    flex-direction: column;
  }
}

// /* Media Query for Perfume Brand pages: result.html... */
@media (max-width: 768px) {
  .product {
    display: block;
  }

  .specifications {
    display: block;
  }
}

//
//   .input {
//     flex-direction: column;
//   }
// }

// .urBrand {
//   display: grid;
//   grid-template-rows: 1fr;
//   &-1 {
//     font-size: 1rem;
//   }
// }

// .products-ondisplay {
//   display: none;
// }

// .bulkOrderForm {
//   .ordering-form {
//     background: $bg-color2;
//     color: $bg-color1;
//     border-radius: 7px;

//     form {
//       display: flex;
//       flex-direction: column;
//       gap: 1rem;
//       justify-content: center;
//       align-items: center;
//       font-size: 16px;
//       margin-top: 15px;
//     }
//   }
// }

// //Fragrance Page
// .fragrance-a {
//   .men-fragrance {
//     display: flex;
//     flex-direction: column;
//   }
// }

// .contact-page {
//   .contact {
//     width: 100%;
//     max-width: 500px;

//     .contact-page-a {
//       .text-fields {
//         width: 100%;
//         max-width: 400px;

//         display: grid;
//         grid-template-areas:
//           'name'
//           'email'
//           'phone'
//           'subject'
//           'message';
//         // gap: 1.5rem;

//         // GRID AREAS
//         .name-input {
//           grid-area: name;
//         }
//         .email-input {
//           grid-area: email;
//         }
//         .phone-input {
//           grid-area: phone;
//         }
//         .subject-input {
//           grid-area: subject;
//         }
//         .message-input {
//           grid-area: message;
//           height: 100px;
//         }
//       }
//     }
//   }
// }

// //Display Perfume PAge

// .display-perfume-body {
//   display: flex;
//   padding: 20px;
//   flex-direction: column; /* Stack content on mobile */
//   justify-content: center;
//   text-align: center;
//   align-items: center;
// }
// .display-perfume-body-b {
//   .display-perfume-body-b-1 {
//     justify-content: center;
//     text-align: center;
//     align-items: center;
//   }

//   .cost {
//     margin: auto;
//   }
// }
>>>>>>> Development-2
