.webcontainer {
<<<<<<< HEAD
    width: $website-width;
    margin:  auto;
}

.navContainer{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 20;
}

.mainContainer{
    max-width: $website-width;
    padding: 0  1.5rem;
    margin:  auto;
    overflow: hidden;
}





.bottom-line{
    background: $bg-color2;
    width: 850px;
    height: 1rem;
    display: block;
}
.bottom-line-a{
    background: $bg-color2;
    width: 300px;
    height: 0.1rem;
    display: block;
}
=======
  width: $website-width;
  margin: auto;
}

.navContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 20;
}

.mainContainer {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.bottom-line {
  background: $bg-color2;
  width: 850px;
  height: 1rem;
  display: block;
}
.bottom-line-a {
  background: $bg-color2;
  width: 300px;
  height: 0.1rem;
  display: block;
}
>>>>>>> Development-2
