@import 'config';
@import 'utilities';
@import 'media';

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background: #fff;
    box-sizing: border-box;
    overflow-x:hidden;
}

.bg-1{
    background-color: $bg-color2;
    color: #f4fff4;
}

.bg-2{
    background-color: $bg-color3;
}


// INBEX HTML
// INBEX HTML


// HEADER
.perfume-container{
    width: 1280px;
    padding: 0  1.5rem;
    margin:  auto;
    overflow: hidden;
}

.sub-menu{
    display: flex;
    gap: 50px;
    padding-top: 0.5rem;
    justify-content: center;
    text-align: center;

    // SECTION BUTTONY
    .search-container {
        display: flex;
        align-items: center;
        border: 2px solid #ccc;
        border-radius: 9px;
        overflow: hidden;
        background-color: #fff;
    }

    .search-input {
        border: none;
        padding: 5px;
        width: 500px;
        outline: none;
        font-size: 16px;
        flex: 1;
    }

    .search-button {
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #007BFF;
        color: white;
        font-size: 16px;
        outline: none;
        transition: background-color 0.3s;
    }

    .search-button:hover {
        background-color: #0056b3;
    }
    
    .navbar-nav{
        display: flex;
        flex-direction: row;
    }
}

// Second Menu
.main-menu{
        display: flex;
        gap: 25px;
    
}



//////////////
/// INDEX PAGE
// SECTION PERFUME 
.product-section{
    .container{
        max-width: 1450px;
    }
    .product-section-1{
        display: flex;
        gap: 20px;

        .line{
            border-bottom: 3px solid #333;
            width: 350px;
            margin: auto;
        }
    }

    .perfumes{
        .perfume-image{
            width: 300px;
            height: 300px;
        
        }
    }
}


.perfumes{
    display: grid;
    grid-gap: 2.5px;
    grid-template-columns: repeat(3, 1fr);
    h4{
        color: green;
        padding: 2px;
        width: 150px;
        font-size: 1rem;
        margin: auto;
    }
}

.perfume-1,
.perfume-2,
.perfume-3{
    margin: auto;
}

.perfume-image{
    width: 300px;
    height: 300px;

}



// SECTION SIGN UP FORM

.signup-section {
    padding: 20px;

    .container {
        max-width: 700px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .product-section-topic h3 {
        margin: 0;
        font-size: 1.2rem;
    }
    .input {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .input-1, .input-2, .input-3 {
            flex: 1;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }
    }    
    button.signup-button1 {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
    }
    
    button.signup-button1:hover {
        background-color: #0056b3;
    }
}

///////
/// FOOTER SECTION
.main-footer{
    .footer-a{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        background: $bg-color3;
        width: 100%;
        .footer-a1{
            h6{
                padding: 0.5rem;
            }
        }
        a{
            color: white;
            text-transform: none;
        }
    }
    .footer-b{
        background: $bg-color4;
    }
}



//////
//Make Ur Brand PAGE

.urBrand{
    background: $bg-color2;
    color: white;
    padding: 20px;
    border-radius: 9px;
    max-width: 900px;
    width: 100%;

    .urBrand-1{
        #Whatsapp{
            width: 100px;
            border-radius: 7px;
        }
    }

    .urBrand-2{
        justify-content: center;
        text-align: center;

        .urBrand-form{
            display: flex;
            flex-direction: column;
            
            .form-group label{
                display: block;
            }
            .form-group{
                #moreInfo{
                    width: 100%;
                    max-width: 400px;
                    height: 150px; /* Adjust height as needed */
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    resize: none; /* Disable resizing */
                    overflow-x: auto; /* Add horizontal scrollbar */
                }
                #scents{
                    width: 100%;
                    max-width: 150px;
                    height: 30px;
                    border-radius: 5px;
                }
                .emailBrand{
                    width: 100%;
                    max-width: 250px;
                    height: 30px; 
                    border-radius: 5px;
                }
            }
        }
    }

}


///////
// BULK ORDER PAGE

.products-ondisplay-a{
    display: flex;
    gap: 25px;
    
    .arrow-position{
        position: relative;
        top: 60px;
        .large-arrow{
            font-size: 2rem;
        }
    }
    .bulk-order{
        border: #333 solid 1pt;
        justify-content: center;
        text-align: center;
        margin: auto;
        cursor: pointer;
        .font-h6{
            font-size: 16px;
        }
        .bulk-image{
            width: 100px;
            height: 100px;
        }
        
    }

}

.bulkOrderForm {
    .ordering-form {
        width: 100%;
        max-width: 500px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        background: $bg-color2;
        color: $bg-color1;
        border-radius: 7px;
        padding: 20px;
        

        form {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            margin-bottom: 15px;
            width: 100%;
            max-width: 400px;
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        h4 {
            margin: 0;
        }

        #pick, #total-quantity {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .signup-button {
            border-style: none;
            padding: 10px 15px;
            font-size: 16px;
            border-radius: 4px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;

            h5 {
                margin: 0;
            }
        }
    }
}

.tableOrders .cancel {
    color: red;
}
.tableOrders .pay-order {
    margin-top: 20px;
}

.pay-order-a{
    padding: 20px;

    .container {
        max-width: 300px;
    }
    button.pay-order-a {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
    }
    
    button.pay-order-a:hover {
        background-color: #0056b3;
    }
    
}


////////
/// FRAGRANCE PAGE
/// 
.men-fragrance{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    .fragrance-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .fragrance-image{
            width: 300px;
            height: 300px;
        }
    }
}

.chat-wrap{
    
    width: 100%;
    padding: 1rem;

    #Whatsapp{
        width: 200px;
        border-radius: 7px;
    }
    
    #chat{
        font-size: 20px;
    }

}

/////////////////
/// GIFT SET PAGE
.giftset{
    width: 100%x;
    background: $bg-color1;
    color: $bg-color2;
    .large-arrow{
        font-size: 2rem;
    }
    a{
        text-decoration: none;
    }
}

.giftText{
    font-size: 18px;

}
#giftText-1{
    font-weight: bold;
}


// CONTACT PAGE
.contact{
    width: 100%;
    max-width: 500px;
    

    .bottom-line{
        width: 100%;
        max-width: 500px;
    }
    
    .contact-page-a{
        text-align: center;
        justify-content: center;
        .text-fields{
            width: 100%;
            max-width: 500px;
    
            display: grid;
            grid-template-areas: 
            'name email'
            'phone subject'
            'message message';
            gap: 1.5rem;
    
            // GRID AREAS
           .name-input{
            grid-area: name;
           }
           .email-input {
            grid-area: email;
           }
           .phone-input{
            grid-area: phone;
           }
           .subject-input {
            grid-area: subject;
           }
           .message-input{
            grid-area: message;
            height: 100px;
           }
        }
    }
    
}

// DISPLAY PERFUME

.display-perfume-page {

    .container {
      width: 100%;
      max-width: 950px;
  
      .display-perfume-body {
        display: flex;
        padding: 20px;
        gap: 20px;
        .display-perfume-body-a{
            margin: auto;
            img{
                width: 300px;
                height: 300px;
            }
        }
        .display-perfume-body-b{
            max-width: 400px;
            margin: auto;

           .display-perfume-body-b-1{
            display: flex;
            gap: 5px;


            #first {
                width: 100px;
                height: 30px;
                border: solid #333;
                // padding: 5PX;
            }
            #second{
                width: 55px;
                height: 30px;
                border: solid #333;
            }

           }

           .cost{
            width: 85px;
            height: 60px;
            border: solid #333;
            border-radius: 100%;
            text-align: center;
            padding: 9px;
           }
        }
      }
    }
  }


  .current{
    color: #FEEC7E;
    }   

    .banner-image{
        width: 100%;
        height: 400px;
    }




